{% extends "layout.html" %}
{% block body %}


<!-- background content -->


<header class="header">
 <div class="header-inner">
  <h1>Find My Job</h1>
  <p>Find what you really want to be, what you really enjoy. You deserve to be happy from your work.</p>
  <p>Find Your Happiness. Good Luck! :)</p>
 </div>
</header>
   
  <div>
   <form class="uk-form" action="/predict" method="POST">
    <fieldset data-uk-margin>
     <div class="uk-form-row">
      <textarea type="textarea" name="description" class="uk-form-blank uk-width-1-1 uk-container-center" placeholder="Please describe yourself :D" rows=8></textarea>
      <button type="submit" outlink="result()" class="uk-button uk-button-primary">Find my Job !</botton>
     </div>
    </fieldset>
   </form>
  </div>
 </div>
</div>
{% endblock %}


